body{
	font-family: 'Roboto', sans-serif;
	color: #000 !important;
}

#heading{
  	text-align: center;
  	font-family: 'Poiret One', cursive;
	margin-bottom: 110px;
}

#quoteButton{
	text-align: center;
}

#quoteDisplay{
	text-align: center;
	font-size: 20px;
	margin-bottom: 100px;
}
