body{
	font-family: 'Roboto', sans-serif;
	color: #000 !important;
}

#heading{
  text-align: center;
	font-family: 'Dancing Script', cursive;
	padding-bottom: 50px;
}

#quoteButton{
	text-align: center;
}

#quoteDisplay{
	text-align: center;
	font-size: 20px;
}
